
<div class="page-container">
<app-small-header></app-small-header>

<main>
<h1 id="title">Historial de reservas</h1>

<div *ngFor="let reservation of reservations" class="reservation-card">
  <div class="hotel-info">
    <h3 id="hotel_name">{{ reservation.data.hotel_name }}</h3>
    <img [src]="reservation.data.hotel_image" alt="Imagen del hotel" />
  </div>
  <div class="reservation-details">
    <p><strong>Reserva:</strong> {{ reservation.data.reservation_id }}</p>
    <p><strong>Check-in:</strong> {{ reservation.data.checkin }}</p>
    <p><strong>Check-out:</strong> {{ reservation.data.checkout }}</p>
    <p><strong>Personas:</strong> {{ reservation.data.people }}</p>
  </div>
</div>
</main>

<app-footer></app-footer>

</div>