html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}



#title{
    font-size:2rem;
    text-align: center;
    margin-top: 1rem;
}

.reservation-card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    background-color: #bfdfff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding: 1rem;
  }
  
  .hotel-info {
    flex: 1;
    text-align: left;
    margin-right: 1rem;
    margin-left: 2rem;
  }
  
  .reservation-details {
    flex: 3;
    margin: auto auto;
    margin-left: 2rem;
    margin-top: 3rem;
  }
  
  img {
    height: 10rem;
    width: 15rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    .reservation-card {
      flex-direction: column;
      width: 70%;
    }
  
    .hotel-info {
      text-align: center;
      margin-right: 0;
      margin-bottom: 1rem;
      margin: 0 auto;
    }

    .reservation-details{
      margin: 0 auto;
    }
  }

  @media (max-width: 551px) {
    .reservation-card {
      width: 70%;
    }

    img{
      height: 8rem;
      width: 13rem;
    }

    .reservation-details{
      scale: 0.9;
    }

  }
  
  @media (max-width: 471px) {
    .reservation-card {
      width: 70%;
    }

    img{
      height: 6rem;
      width: 11rem;
    }

    .reservation-details{
      scale: 0.9;
    }

    .hotel-info{
      margin-left: 1rem;
    }

  }

  @media (max-width: 291px) {
    .reservation-card {
      width: 70%;
    }

    img{
      height: 4rem;
      width: 9rem;
    }

    .hotel-info{
      margin-left: 0rem;
    }

  }