<h1>Política de Privacidad</h1>

<h5>Última actualización: 03/05/2023</h5>

<p>En CanaryBnB, nos comprometemos a proteger y respetar la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos, compartimos y protegemos la información personal que nos proporcionas al utilizar nuestro sitio web.</p>

<p>Al utilizar nuestro Servicio, aceptas la recopilación, uso y divulgación de tu información personal de acuerdo con esta Política de Privacidad. Si no estás de acuerdo con esta Política, por favor no utilices nuestro Servicio.</p>

<h2>Información que recopilamos</h2>

<p>Podemos recopilar y procesar la siguiente información sobre ti:</p>

<ul>
  <li>Información que nos proporcionas al registrarte en nuestro Servicio, como tu nombre, dirección de correo electrónico, número de teléfono y contraseña.</li>
  <li>Información que nos proporcionas al completar formularios, encuestas o al comunicarte con nosotros.</li>
  <li>Detalles de las transacciones que realizas a través de nuestro Servicio.</li>
  <li>Información técnica, como la dirección IP, el tipo de dispositivo y el navegador que utilizas, y la información de uso del Servicio.</li>
</ul>

<h2>Cómo utilizamos tu información</h2>

<p>Usamos la información que recopilamos sobre ti para los siguientes propósitos:</p>

<ul>
  <li>Proporcionarte nuestro Servicio y permitirte utilizar todas sus funcionalidades.</li>
  <li>Mejorar y personalizar tu experiencia en nuestro Servicio.</li>
  <li>Comunicarnos contigo, responder a tus preguntas y atender tus solicitudes.</li>
  <li>Realizar análisis y estudios para mejorar nuestro Servicio y desarrollar nuevos productos o servicios.</li>
  <li>Cumplir con nuestras obligaciones legales y reglamentarias.</li>
</ul>

<h2>Divulgación de tu información</h2>

<p>No venderemos ni compartiremos tu información personal con terceros para fines de marketing sin tu consentimiento expreso. Podemos compartir tu información con:</p>

<ul>
  <li>Nuestros proveedores de servicios y subcontratistas que nos ayudan a operar y mantener nuestro Servicio, siempre que estén sujetos a obligaciones de confidencialidad.</li>
  <li>Las autoridades gubernamentales o reguladoras si así lo exige la ley, una orden judicial o cualquier otro proceso legal válido.</li>
</ul>

<h2>Seguridad de la información</h2>

<p>Estamos comprometidos a proteger la seguridad de tu información personal. Implementamos medidas de seguridad técnicas y organizativas adecuadas para proteger tu información personal contra el acceso, divulgación, alteración o destrucción no autorizados. Sin embargo, ten en cuenta que ninguna transmisión de información a través de Internet es completamente segura y, por lo tanto, no podemos garantizar la seguridad absoluta de tu información.</p>

<h2>Tus derechos</h2>

<p>De acuerdo con las leyes aplicables de protección de datos, puedes tener ciertos derechos con respecto a la información personal que almacenamos sobre ti, que pueden incluir:</p>

<ul>
  <li>Derecho a acceder a tu información personal.</li>
  <li>Derecho a rectificar o actualizar tu información personal si es inexacta o está desactualizada.</li>
  <li>Derecho a solicitar la eliminación de tu información personal en ciertas circunstancias.</li>
  <li>Derecho a oponerte al tratamiento de tus datos personales para fines de marketing directo.</li>
  <li>Derecho a restringir el procesamiento de tu información personal en ciertos casos.</li>
  <li>Derecho a retirar tu consentimiento para el procesamiento de tu información personal en cualquier momento, cuando dicho procesamiento se base en tu consentimiento.</li>
</ul>

<p>Si deseas ejercer cualquiera de estos derechos, por favor ponte en contacto con nosotros a través de canaryBnb@gmail.com.</p>

<h2>Enlaces a sitios web de terceros</h2>

<p>Nuestro Servicio puede contener enlaces a sitios web de terceros. No somos responsables de las prácticas de privacidad o el contenido de esos sitios web. Te recomendamos que leas las políticas de privacidad de esos sitios web antes de proporcionarles tu información personal.</p>

<h2>Cambios en nuestra Política de Privacidad</h2>

<p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Si realizamos cambios materiales en la forma en que recopilamos, usamos o compartimos tu información personal, publicaremos un aviso en nuestro sitio web y actualizaremos la fecha de "Última actualización" en la parte superior de esta Política de Privacidad. Te recomendamos que revises nuestra Política de Privacidad periódicamente para estar informado sobre cómo protegemos tu información.</p>

<h2>Contacto</h2>

<p>Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad o el tratamiento de tu información personal, no dudes en ponerte en contacto con nosotros a través de nuestra <a [routerLink] = "['/contact']" class="enlace">pagina de contacto</a>.</p>



<app-footer></app-footer>