<app-small-header></app-small-header>

<div class="sort-container">
  <label for="sort">Ordenar por:</label>
  <select id="sort" #sortSelect (change)="onSortChange(sortSelect.value)">
    <option value="rating_desc">Valoración (descendente)</option>
    <option value="rating_asc">Valoración (ascendente)</option>
    <option value="price_desc">Precio (descendente)</option>
    <option value="price_asc">Precio (ascendente)</option>
  </select>
</div>
<!-- La lista de hoteles -->

<div class="container">  
  <ul>
    <li *ngFor="let hotel of foundHotels; let i = index" class="hotel-item" (click)="selectHotel(i)">
      <div class="hotel-image-container">
        <img [src]="hotel.images[0]" alt="{{ hotel.name }}" class="hotel-image">
      </div>
      <div class="hotel-details">
        <h3>{{ hotel.name }}</h3>
        <p>{{ hotel.numBeds }} camas</p>
        <p>{{ hotel.numRooms }} habitaciones</p>
        <p>{{ hotel.numBathrooms }} baños</p>
        <p>Cancelación gratuita: {{ hotel.freeCancellation ? 'Sí' : 'No' }}</p>
      </div>
      <div class="hotel-price-rating">
        <p>Valoración: {{ hotel.rating }}/5</p>
        <p>Precio: {{ hotel.price }}€</p>
      </div>
    </li>
  </ul>
</div>

<app-footer></app-footer>
