<header>
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="assets/images/logo_blanco5.png" alt="logo" class="logo-img">
    </a>
  </div>

  <ng-container *ngIf="userFullName; else notLoggedIn">
    <span class="user-full-name">{{ userFullName }}</span>
    <a (click)="logout()">
      <button id="button_signOut"> SIGN OUT </button>
    </a>
  </ng-container>
  

  <ng-template #notLoggedIn>
    <a [routerLink]="['/login']">
      <button id="button_signIn"> SIGN IN </button>
    </a>
    <a [routerLink]="['/register']">
      <button id="button_signUp"> SIGN UP </button>
    </a>
  </ng-template>

  <!--Provisional. Borrar cuando este hecho el header con usuario-->
  <a [routerLink]="['/reservation-historial']">
    <button id="provisional">Historial de Reservas</button>
  </a>
</header>
