<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact</h5>
          <ul>
            <li><a [routerLink] = "['/contact']">Contacta con nosotros!</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Privacy Policy</h5>
          <ul>
            <li><a [routerLink] = "['/privacy-policy']">Política de privacidad</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Cookies Policy</h5>
          <ul>
            <li><a [routerLink] = "['/cookies-policy']">Política de cookies</a></li>
          </ul>
        </div>
      </div>

      <h5 id="copy">Copyright ©CanaryBnB™. Todos los derechos reservados.</h5>

    </div>
  </footer>
  