.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-image: linear-gradient(to bottom, #00aeff, #a4b3bc);
    padding: 3rem;
    margin: 1.2rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

form div {
    margin-bottom: 1rem;
}

.form-control {
    width: 12rem;
}

.alert-danger {
    background-color: red;
    padding: 0.3rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 0.7rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 400px) {
    form {
        width: 15rem;
    }

    form div {
        margin-bottom: 0.6rem;
    }

    .form-control {
        width: 10rem;
    }

    .btn-primary {
        font-size: 0.8rem;
    }
}