.container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 6rem;
  align-items: center;
  position: relative;
  bottom: 15rem;
}

.form-container {
  background-color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 20px;
  width: 90%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
}

button {
  background-image: linear-gradient(to right, #0000f8, #00aeff);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 7rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

button:hover {
  background-image: linear-gradient(to right, #000081, #00aeff);
}

.hotels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  position: relative;
  bottom: 7rem;
}

.hotels-container h2 {
  margin-bottom: 20px;
}

.hotels {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hotels img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hotels img:hover {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}



.hotel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hotel-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
