.container {
  display: flex;
  justify-content: center;
  width: 65rem;
  height: 6rem;
  align-items: center;
  position: relative;
  bottom: 15rem;
}

.form-container {
  background-color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 20px;
  width: 90%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
}

button {
  background-image: linear-gradient(to right, #0000f8, #00aeff);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 7rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

button:hover {
  background-image: linear-gradient(to right, #000081, #00aeff);
}

.hotels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  position: relative;
  bottom: 7rem;
}

.hotels-container h2 {
  margin-bottom: 20px;
}

.hotels {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hotels img {
  width: 17rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hotels img:hover {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.hotel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hotel-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


@media (max-width: 992px) {

  #destination{
    width: 8rem;
    left: 1rem;
  }

  #people{
    width: 3rem;
  }

  #checkin{
    width: 8rem;
  }

  #checkout{
    width: 8rem;
  }

  button{
    position: relative;
    right: 1rem;
  }

  .hotels img {
    width: 14rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }

}

@media (max-width: 769px) {
  .container {
    width: 100%;
    margin-top: 2rem;
  }

  /* Cambios en el formulario para tablet (768px) */
  form {
    flex-wrap: wrap;
    gap: 10px;
  }

  .form-group {
    flex-basis: 100%;
  }

  /* Configura el tamaño de los campos del formulario en las primeras dos filas */
  .form-group:nth-child(3),
  .form-group:nth-child(2),
  .form-group:nth-child(4) {
    flex-basis: calc(50% - 10px);
  }

  /* Coloca el campo de personas en la primera fila */
  .form-group:nth-child(1) {
    flex-basis: calc(50% - 10px);
    order: -1;
  }

  /* Asegúrate de que el botón esté en una nueva fila y centrado */
  button {
    display: block;
    margin: 1rem auto;
  }
  
  #destination, #people, #checkin, #checkout{
    width: 11rem;
  }


  .hotels img {
    width: 11rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }

  #recomendations_title{
    position: relative;
    bottom: 1rem;
  }

  .hotels-container{
    bottom: 9rem;
  }

}

@media (max-width: 601px) {

  #destination, #people, #checkin, #checkout{
    width: 8rem;
  }

  .form-container{
    width: 20rem;
  }

}

@media (max-width: 575px) {

  .hotels{
    flex-direction: column;
  }

  .hotels img{
    width: 17rem;
    height: 10rem;
  }

}



@media (max-width: 365px) {
  .container {
    width: 100%;
  }

  .hotels {
    flex-direction: column;
  }

  /* Cambios en el formulario para teléfonos (365px) */
  form {
    flex-direction: column;
    gap: 10px;
  }

  .form-group {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  /* Restablece las reglas de order a su valor predeterminado */
  .form-group:nth-child(1),
  .form-group:nth-child(4) {
    order: 0;
  }

  /* Asegúrate de que el botón esté en una nueva fila y centrado */
  button {
    display: block;
    margin: 1rem auto;
  }

  .container{
    scale: 0.6;
  }

  .hotels img {
    width: 14rem;
    height: 7rem;

  }
}



