.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 0px;
  margin-top: -10rem;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20px;
  width: 90%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
}

button {
  background-color: #31e0da;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.hotels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.hotels-container h2 {
  margin-bottom: 20px;
}

.hotels {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hotels img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.hotel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hotel-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
