<body>
	<h1>Política de Cookies</h1>
	<p>Esta página web utiliza cookies y otras tecnologías similares para mejorar la experiencia del usuario, así como para analizar el uso que los visitantes hacen de la página. Al navegar por nuestra página, estás aceptando el uso de cookies de acuerdo con nuestra política de cookies.</p>

	<h2>¿Qué son las cookies?</h2>
	<p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (ordenador, teléfono móvil, tablet, etc.) cuando visitas una página web. Las cookies se utilizan para recordar tus preferencias y ajustes, para mejorar tu experiencia de navegación y para recopilar información sobre cómo se utiliza la página.</p>

	<h2>¿Qué tipos de cookies utilizamos?</h2>
	<p>Utilizamos dos tipos de cookies: las cookies de sesión y las cookies persistentes.</p>
	<ul>
		<li>Las cookies de sesión se eliminan automáticamente cuando cierras el navegador. Estas cookies son necesarias para el correcto funcionamiento de la página web y para ofrecer una experiencia de usuario óptima.</li>
		<li>Las cookies persistentes permanecen en tu dispositivo durante un período de tiempo determinado después de cerrar el navegador. Estas cookies se utilizan para recordar tus preferencias y ajustes cuando vuelvas a visitar la página web.</li>
		<li>Además, utilizamos cookies de terceros para analizar el uso que los visitantes hacen de la página y para ofrecer anuncios personalizados. Estas cookies son gestionadas por terceros y están sujetas a su propia política de privacidad.</li>
	</ul>

	<h2>¿Cómo puedes controlar el uso de cookies?</h2>
	<p>Puedes controlar y gestionar el uso de cookies en cualquier momento a través de las opciones de configuración de tu navegador. Ten en cuenta que desactivar o eliminar cookies puede afectar a la funcionalidad de la página web y a tu experiencia de usuario.</p>

	<h2>Contacto</h2>
	<p>Si tienes alguna pregunta sobre nuestra política de cookies, no dudes en ponerte en contacto con nosotros a través de nuestra <a [routerLink] = "['/contact']" class="enlace">pagina de contacto</a>.</p>
</body>

<app-footer></app-footer>