  header {
    display: flex;
    height: 21.5rem;
    background-color: #9B9393;
    justify-content: center;
  }

  header p {
    display: flex;
    align-items: center;
    font-size: 3rem;
  }

  .logo {
    position: absolute;
    left: 3rem;
    top: 3rem;
  }

  .logo-img {
    height: 5rem;
  } 

  body {
    margin: 0;
  }

@media (max-width: 820px){
    .logo-img {
      height: 4rem;
    } 
}

@media (max-width: 605px){
  .logo-img {
    height: 3rem;
  } 
}

@media (max-width: 415px){
  .logo-img {
    height: 2rem;
  } 
}