  header {
    display: flex;
    height: 18rem; 
    background-color: #9B9393;
    justify-content: center;
  }

  header p {
    display: flex;
    align-items: center;
    font-size: 3rem;
  }

  .logo {
    position: absolute;
    left: 3rem;
    top: 3rem;
  }

  .logo-img {
    height: 5rem;
  } 

  body {
    margin: 0;
  }

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .logo-img {
      height: 4rem;
    }
    header {
      height: 13rem; 
    }
}

/* X-Small devices (portrait phones, less than 434.98px) */
@media (max-width: 434.98px) {
  .logo-img {
    height: 3rem;
  } 

  header {
    height: 10rem; 
  }
}

/* X-Small devices (portrait phones, less than 359.98px) */
@media (max-width: 359.98px) {
  .logo-img {
    height: 2rem;
  } 
}