 #button_signIn {
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
  background: #ffffff;
  border: none;
  transition: 0.4s;
  margin: 0 auto;
  position: absolute;
  top: 3rem;
  right: 10rem;
}


#button_signIn:active {
  transform: scale(0.90);
}

#button_signUp {
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
  background: #ffffff;
  border: none;
  transition: 0.4s;
  margin: 0 auto;
  position: absolute;
  top: 4rem;
  right: 3rem;
}

#button_signUp:active {
  transform: scale(0.90);
} 
