#button_log {
    width: 8rem;
    height: 2rem;
    position: absolute;
    top: 3rem; 
    right: 3rem;
    cursor: pointer;
  }

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #button_log {
    width: 6rem;
    height: 1.5rem;
  } 
}

/* X-Small devices (portrait phones, less than 434.98px) */
@media (max-width: 434.98px) {
  #button_log {
    width: 4.2rem;
    height: 1.05rem;
    font-size: 0.7rem;
  }
}

/* X-Small devices (portrait phones, less than 359.98px) */
@media (max-width: 359.98px) {
  #button_log {
    width: 2.4rem;
    height: 0.6rem;
    font-size: 0.4rem;
  }
}